body {
background-color: #2F4454;

}

section{
    background-color: #2F4454; 
    color: #fff;  
    text-align: center;
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: larger;
    width: 80%;
    margin: 0 auto;   
    border-bottom: 3px solid #DA7B93;       
    padding-top: 20px;
    margin-top: 40px; 
    
}
section h1{
    padding: 10px;
    margin-top: 15px;
}

.text-border {
    border: 12px double #DA7B93;
    border: 5px solid #DA7B93;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 10px;
    

  
}

h3, p.blue-border {
    border-bottom: 5px solid #2E151B;
 
    padding: 9px;
}

.footer {
    background-color:#1C3334;
    margin: 0 auto;
    padding: 10px 0px;
    width: 80%;
    color: #fff;
    text-align: center; 
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: larger;
    border-left: 1px solid #DA7B93;
}

.right-side {
    text-align: center; 
    background-color: #376E6F;
    padding: 10px;
    margin-left: auto;
    border: 12px dashed #E3E2DF;
    margin-right: 10px;


}
.p.right-side {
    background-color: #C5CBE3;
    margin-left:100px;
}
.h3.right-side {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 10px 10px rgb(139, 101, 101);
}


.main {
    display:flex;
    background-color: #E3E2DF;
    margin: 10px auto 0 auto;
    width: 80%;
    padding: 10px 0px;
    border-bottom: 3px solid #DA7B93;
    border-left: 1px solid #DA7B93;
}

.main > *{
    flex: 1 1 200px;
}

#music-footer {
    height: 10em;
    position: relative;
    font-style: italic;
    
}
#music-footer nav{
    margin: 0;
    background: #EFE2BA;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.img-scaler {
    height: auto;
    max-width: 510px;
    width: 100%;
}

.about-article {
    padding: 10px;   
}

.index-article {
    padding:10px;
    color: #2F4454;
}

/* homework Box model */
header {
    width: 80%;
    margin: 0 auto;      
    text-align: center; 
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: larger;    
    position: fixed;
    left:0;
    right:0;
    top: 0;
    padding: 0;
}

nav ul{    
    list-style-type: none;      
    color:white;
    overflow: hidden;
    background-color:#1C3334;    
    top: 0;
}
nav ul li{
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li{
    border-right: 1px solid #E3E2DF;
}

nav ul li:last-child {
    border-right: none;    
}

a:active {
    color: #DA7B93;
}

a:visited {
    color:#DA7B93;
}

/* Media Queries */
@media (min-width: 1024px) {
    body{
        background-color: pink;
        color: #4070A0;
        font-size: smaller;
        line-height: 1.5rem;
    }
    .footer{
        background-color: #fff;
        color: #2F4454;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 760px){
    p{
        font-size: smaller;
    }
}

@media only screen and (max-width: 759px){
    section h1 {
        margin-top: 2.5em;
    }
    .index-article .right-side {
        display: inline-block;
    }
    header{
        font-size: smaller;
    }
    body {
        font-size: smaller;

    }
    main{
        flex-direction: column;
    }
}

